@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body * {
  margin: 0;
  font-family: 'Josefin Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Footer {
  position: fixed;
  bottom: 0;
}


